body {
  line-height: 1;
}

.app-header, .app-navbar {
  height: 3rem;
}

.app-body {
  position: sticky;
  top: 3rem;
  height: calc(100vh - 3rem);
  overflow: auto;
}

.app-table {
  table-layout: fixed;
  font-size: 0.95rem;
}

.app-table-th:hover .app-hide-field-icon {
  opacity: 1;
}

.app-table-cell1 {
  height: 1.25rem;
}

.app-toggle-fields-menu-icon {
  transition: color 1.5s;
}

.app-hide-field-icon {
  opacity: 0;
  transition: opacity 0.25s;
}

.app-sort-icon {
  opacity: 0.5;
  transition: opacity 0.25s;
}

.app-sort-icon-active {
  opacity: 1;
}

.app-sort-icon:hover {
  opacity: 1;
}

.app-paginator {
  opacity: 0.5;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  transition: opacity 0.5s 1s;
}

.app-paginator:hover {
  opacity: 1;
  transition: opacity 0.25s;
}
