html, body, #app, main {
  height: 100%;
}

body {
  padding-top: 56px;
}

.app-dropdown-button-left-caret::before {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

.dropup .app-dropdown-button-left-caret::after {
  display: none;
}

.app-table {
  table-layout: fixed;
  max-height: calc(100vh - 56px);
  overflow: auto;
  font-size: 0.875rem;
}

.app-table-th:hover .app-hide-field-icon {
  opacity: 1;
}

.app-table-cell-wrapper {
  height: 1.25rem;
}

.app-toggle-fields-menu-icon {
  transition: color 1.5s;
}

.app-hide-field-icon {
  opacity: 0;
  transition: opacity 0.25s;
}

.app-filters-menu label {
  font-weight: bold;
}

.app-filters-menu .form-check-label {
  font-weight: normal;
}

.app-filters-menu input::placeholder {
  font-style: italic;
}

.app-filters-menu .form-group {
  margin-bottom: 0.25rem;
}

.app-sort-icon {
  opacity: 0.5;
  transition: opacity 0.25s;
}

.app-sort-icon-active {
  opacity: 1;
}

.app-sort-icon:hover {
  opacity: 1;
}

.app-phrase-search-input::placeholder {
  font-style: italic;
}

.app-paginator {
  opacity: 0.8;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: opacity 0.5s 1s;
}

.app-paginator:hover {
  opacity: 1;
  transition: opacity 0.25s;
}

.app-page-button-active {
  font-weight: bold;
}

.app-page-size-menu .dropdown-item.disabled {
  font-weight: bold;
}

.app-progressbar-wrapper {
  pointer-events: none;
  bottom: 2rem;
}

.app-progressbar {
  height: 1.25rem;
}

.slide-fade-enter-active {
  transition: all 1.0s;
}

.slide-fade-leave-active {
  transition: all 1.5s;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.flat-enter-active {
  animation: flat .5s;
}

.flat-leave-active {
  animation: flat .5s reverse;
}

@keyframes flat {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}