body {
  line-height: 1;
}

.table-responsive {
  height: 100%;
  margin: 0;
}

.app-header {
  height: 3rem;
}

.app-body {
  position: sticky;
  top: 3rem;
  height: calc(100vh - 3rem);
  overflow: auto;
}

.app-paginator {
  opacity: 0.5;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  transition: opacity 0.5s 1s;
}

.app-paginator:hover {
  opacity: 1;
  transition: opacity 0.25s;
}

.app-table-cell {
  height: 4rem;
  overflow: hidden;
}
