body {
  line-height: 1;
}

.table-responsive {
  height: 100%;
  margin: 0;
}

.app-header {
  height: 3rem;
}

.app-body {
  position: sticky;
  top: 3rem;
  height: calc(100vh - 6rem);
  overflow: auto;
}

.app-footer {
  overflow: hidden;
  position: sticky;
  bottom: 0;
  height: 3rem;
}

.app-table-cell {
  height: 4rem;
  overflow: hidden;
}
